extends ../layout

link(rel='stylesheet', href='/style.css', type="text/css")

block content
	h2 #{name}
	h3 Author: #{author}

	//form#formRemoveEcore(name="removeEcore",method="post",action="/ecores/#{name}/delete")
	//		.submit-button
	//		button#btnSubmit(type="submit") Delete


	.submit-text-area
		textarea#text(name="content2", cols="80", rows="20", disabled="disabled") #{content} 
		br
		form(method="POST" action="/dashboard/#{name}")
			button(type="submit" formmethod="post" formaction="/dashboard/#{name}") Delete Ecore
		br
	if printPalette
		hr
		h2 Palettes associated (#{nbOfPalette})
		each palette, i in paletteList
			h3 #{palette.name}
			.submit-text-area
				textarea#text(name="palette2", cols="80", rows="20", disabled="disabled") #{palette.content} 
		br
		form(method="POST" action="/dashboard/#{name}/palettes")
			button(type="submit" formmethod="post" formaction="/dashboard/#{name}/palettes") Delete all palettes
		br
	else
		hr
		a(href="/palettes") Add new palette
	if printRole	
		hr
		h2 Role hiearchy associated
		.submit-text-area
		textarea#text(name="role1", cols="80", rows="20", disabled="disabled") #{hierarchy} 
		br
		form(method="POST" action="/dashboard/#{name}/hierarchy")
			button(type="submit" formmethod="post" formaction="/dashboard/#{name}/hierarchy") Manage hierarchy
		form(method="POST" action="/dashboard/#{name}/roles")
			button(type="submit" formmethod="post" formaction="/dashboard/#{name}/roles") Delete hierarchy
	else
		hr
		a(href="/roles") Add new role hierarchy
	br
	p
